

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
  <link href="{{ asset('admin/dataTables/dataTables.bootstrap.js') }}" rel="stylesheet" />
  <link href="{{ asset('admin/dataTables/jquery.dataTables.js') }}" rel="stylesheet" />
  <link href="{{ asset('admin/dataTables/sb-admin.css') }}" rel="stylesheet" />
