{% extends "vivimainBundle:public:template.html.twig" %}

{% block title %}{{ parent()}} | Homepage {% endblock %}


{% block body %}
  
  <div class="panel panel-green">
  <div class="panel-body">
                
  <div class="" style="margin-left:10px auto">
    <h1 class="art-title"> Welcome</h1><hr>
     <p class="p2" style="margin: 40px auto">
      JesusVivi est un blog d'échanges au tour de la parole Divine.
      Le but de ce blog est d’abord de propager la parole de Dieu donc l’évangélisation et aussi de nous permettre de maintenant une croissance spirituelle à travers des  enseignements,
      des sermons, des témoignages, des études bibliques etc.  Vous pouvez vous aussi contribuer à ce blog en devenant auteur ou en partageant des messages édifiants,
      des témoignages etc. qui ne sont pas encore présents sur le blog. Soyons tous uni en Christ Jésus .  
      <a href="#" class="link">At vero eos et accusam et justo duo dolores et ea rebum.</a><br>
    Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    <p>
      <a href="#" class="link">Lorem ipsum dolor sit amet, consetetur sadipscing elitt accusam. </a><br>
    Aliquyam diam diam dolore dolores duo eirmod eos erat, et nonumy sed tempor et et invidunt justo labore Stet clita ea et gubergren, kasd magna no rebum. sanctus sea sed takimata ut vero voluptua. est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>
     <a href="#" class="button top-4">Read More</a>
  </div>
  
  </div>
  </div>
{% endblock %}
